@model IEnumerable<CMM.Models.Event>

@{
    ViewData["Title"] = "List of Hidden Virtual Events";
}

<div class="container my-3">
    <div class="col-md-12 text-center">
        <h1>List of Hidden Virtual Events</h1>
        <a class="btn btn-success" asp-action="CreateVirtualEvent" role="button">Create New Virtual Event</a>
        <p><a asp-action="ListVirtualEvent">View Active Virtual Events</a></p>
    </div>
</div>

<style>
    #td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .table {
        table-layout: fixed;
        word-wrap: break-word;
    }
</style>

<div class="">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Concert Musician
                </th>
                <th>
                    Concert Name
                </th>
                <th>
                    Concert Date &amp; Time
                </th>
                <th>
                    Ticket Price
                </th>
                <th>
                    Total Tickets
                </th>
                <th>
                    Concert Status
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                @if (item.ConcertVisibility == false)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConcertMusician)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConcertName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConcertDateTime)
                        </td>
                        <td>
                            RM @Html.DisplayFor(modelItem => item.ConcertPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketLimit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConcertStatus)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-block btn-primary" asp-action="EditVirtualEvent" asp-route-id="@item.ConcertID">Edit</a>
                            <a class="btn btn-primary btn-block btn-secondary" asp-action="ViewEventDetails" asp-route-id="@item.ConcertID">More Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>