@model CMM.Models.Payment

@{
    ViewData["Title"] = "Ticket Details";
}

<h1>Ticket Details</h1>

<div>  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Concert Poster
        </dt>
        <dd class="col-sm-10">
            <img src="@ViewBag.ConcertPoster" width="300" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConcertID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConcertID)
        </dd>
        <dt class="col-sm-2">
            Concert Name
        </dt>
        <dd class="col-sm-10">
            @ViewBag.ConcertName
        </dd>
        <dt class="col-sm-2">
            Concert Description
        </dt>
        <dd class="col-sm-10">
            @ViewBag.ConcertDescription
        </dd>
        <dt class="col-sm-2">
            Concert Link
        </dt>
        <dd class="col-sm-10">
            <a href="@ViewBag.ConcertLink">@ViewBag.ConcertLink</a>
        </dd>
        <dt class="col-sm-2">
            Concert Date Time
        </dt>
        <dd class="col-sm-10">
            @ViewBag.ConcertDateTime
        </dd>
        <dt class="col-sm-2">
            User ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User_id)
        </dd>
        <dt class="col-sm-2">
            Payment Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentPrice)
        </dd>

        <dt class="col-sm-2">
            Payment Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="TicketHistory">Back to Ticket History</a>
</div>
